/*GENERAL*/

* {
	box-sizing: border-box;
}

body {
	display: grid;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 2fr 4fr;
	grid-template-areas:
	"sidebar main"
	"sidebar output"
	"sidebar output";
	min-height: 100%;
}

/*HEADER/ASIDE NAV*/

h1 {
	color: #FFFFFF;
	font-size: 16px;
	padding-left: 8px;
	padding-top: 5px;
}

.Navbar {
	background-color: #1F1F3D;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	grid-area: sidebar;
}

.Navbar__Link, .Navbar__Items {
	width: 100%;
}

.Navbar__Link-toggle {
    display: none;
}

h2 {
	color: #BFBFDD;
	font-size: 14px;
	padding-bottom: 10px;
	padding-left: 8px;
}

button {
	border-radius: 1.5px;
}

hr {
    border-color: #A9AAD2;
    font-weight: 100;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 100%;
}

ul {
	padding-bottom: 10px;
	position: relative;
	right: 32px;
}

li {
	color: #FFFFFF;
	cursor: pointer;
	list-style: none;
	margin: 15px 0px 15px 0px;
}

li:hover{
    background-color:#d14119;
    border-left: 4px solid #f58e72;
}

input {
	border-color: #353567;
	border-radius: 1px;
	border-width: .5px;
}

main {
	background-color: #A9AAD2;
	grid-area: main;
}

output {
	background-color: #EAEAF4;
	display: grid;
	grid-area: output;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	height: 100%;
	padding: 20px;
}

.sidebar {
	background-color: #1F1F3D;
	display: flex;
	flex-direction: column;
	grid-area: sidebar;
}

.header-section {
	margin-bottom: 10px;
	padding-left: 8px;
    padding-right: 8px;
}

.header-form {
	/*border-bottom: 1px solid #353567;*/
}

.new-quality-label {
	color: #BFBFDD;
	padding-left: 8px;
    padding-right: 8px;
}

.header-button {
	background-color: #5356A4;
	border-color: #353567;
	color: #E9E9F3;
	height: 2.5em;
	padding: 0px 8px 0px 8px;
	width: 100%;
}

.quality-input {
	height: 2.5em;
    margin: 10px 8px 15px 8px;
}

/*MAIN*/

.main-form {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-areas:
	"left center right";
}

.main-fieldset {
	display: flex;
	flex-direction: column;
	grid-area: center;
	margin: 10px auto 0 auto;
	width: 100%;
}

legend {
	display: none;
}

fieldset {
	border: 0;
}

.main-label {
	font-weight: bold;
}

.title-input {
	border-radius: 1.5px;
	height: 2.5em;
	margin: 10px 0px 20px 0px;
	width: 90%;
}

.body-input {
	border-radius: 1.5px;
	height: 6em;
	margin: 10px 0px 20px 0px;
	resize: none;
	width: 90%;
}

.save-button {
	background-color: #1f1f3d;
	border: 0;
	color: #FFFFFF;
	height: 3em;
	margin: 10px 0px 20px 0px;
	width: 90%;
}

.search-items {
	display: flex;
	flex-direction: row;
}

.search-icon {
	background-color: #1f1f3d;
	border-radius: 1.5px;
	height: 2.5em;
	margin: 10px 0px 5px 0px;
	padding: 9px;
	width: 10%;
}

.search-ideas-input {
	border-radius: 1.5px;
	height: 2.5em;
	margin: 10px 0px 5px 0px;
	padding-left: 7px;
	width: 100%;
	width: 80%;
}

/*CARD*/

.idea-box {
	border: 1px solid #6E646B;
	display: flex;
	flex-direction: column;
	height: 350px;
	justify-self: center;
	width: 85%;
}

.idea-header {
	background-color: #1F1F3D;
	display: flex;
	height: 30px;
	justify-content: space-between;
}

.star-button, .delete-button {
	height: 30px;
	width: 30px;
}

.idea-article {
	background-color: #FFFFFF;
	height: 300px;
	padding: 10px;
}

.idea-article-title {
  	color: #1F1F3D;
  	font-size: 24px;
  	font-weight: 600;
} 	

.idea-footer {
	align-items: center;
	background-color: #5356A4;
	display: flex;
	height: 30px;
	justify-content: space-between;
}

.idea-footer-text {
	color: #FFFFFF;
	font-weight: 600;
}

.upvote-button, .downvote-button {
	height: 30px;
	width: 30px;
}

.no-idea-yet-text {
	display: none;
	font-family: 'Indie Flower', cursive;
	font-size: 72px;
	position: absolute;
	text-align: center;
}

/* media query */
@media screen and (max-width: 425px) {
  
  body {
    display: block;
  }
/*HEADER/NAV*/
  h1 {
    display: flex;
    font-size: 24px;
    justify-content: center;
  }

  .Navbar {
  	background-color: #1F1F3D;
	display: flex;
	flex-direction: column;
  }

  .fa-bars:before {
  	color: white;
  	padding-right: 2px;
  }

  /*.change .fa-bars {
    backgr*/ound-image: url("idea-box-icons/menu-close.svg");
  }

  .Navbar__Link-toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 30px;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
  }

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display:none;
  }

  .Navbar__Items--right {
    margin-left:0;
  }

  .Navbar__ToggleShow {
    color: white;
    display: flex;
  }

  .header-form, legend, hr {
    display: none;
  }
  
  h2 {
	color: #BFBFDD;
	font-size: 14px;
	padding-bottom: 10px;
  }

  ul {
    margin-left: 8px;
  }

  header {
    height: auto;
  }

  button {
	border-radius: 1.5px;
  }

  ul {
	position: relative;
	right: 40px;
  }

  li {
	color: #FFFFFF;
	cursor: pointer;
	list-style: none;
	margin: 15px 0px 15px 0px;
  }

  li:hover{
    background-color:#d14119;
    border-left: 4px solid #f58e72;
  }  
    
  .header-button {
	background-color: #5356A4;
	border-color: #353567;
	color: #E9E9F3;
	display: flex;
	height: 2.5em;
	margin-bottom: 15px;
	width: 90%;
    justify-content: center;
  }

  .quality-input {
	height: 2.5em;
	margin-bottom: 15px;
	margin-top: 10px;
	width: 90%;
  }	
  
  .sub-head {
    display: flex;
  }

  .new-quality-label {
	color: #BFBFDD;
  }
/*MAIN*/

  .main-form {
    display: flex;
  }	  


/*CARD*/
   output {
   	display: flex;
   	flex-direction: column;
	}

  .idea-box {
	border: 1px solid #6E646B;
	display: flex;
	flex-direction: column;
	height: 200px;
	justify-self: center;
	margin-bottom: 10px;
	width: 100%;
