/*GENERAL*/

* {
	box-sizing: border-box;
}

body {
	display: grid;
	font-family: Open Sans, sans-serif;
	font-weight: 300;
	grid-template-columns: 1fr 5fr;
	grid-template-rows: 2fr 5fr;
	grid-template-areas:
	"sidebar main"
	"sidebar output";
	height: 100vh;
}

/*HEADER/ASIDE NAV*/

h1 {
	color: #BFBFDD;
  font-size: 18px;
	padding: 7px 0px 7px 13px;
}

h2 {
	color: #BFBFDD;
	font-size: 12px;
}

button {
	border-radius: 1.5px;
	font-weight: 600;
}

ul {
	padding-bottom: 8px;
	position: relative;
	right: 40px;
}

li {
	color: #FFFFFF;
	font-size: 14px;
	list-style: none;
	padding: 8px 0px;
	width: 137%;
}

li:hover{
    background-color:#d14119;
    border-left: 4px solid #f58e72;
}

input {
	border-color: #353567;
	border-radius: 1px;
	border-width: .5px;
}

main {
	background-color: #A9AAD2;
	grid-area: main;
}

output {
	background-color: #EAEAF4;
	height: 100%;
	display: grid;
	grid-area: output;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 10px;
	padding: 20px;
}

legend {
	display: none;
}

fieldset {
	border: 0;
}

.nav-fieldset {
	border-bottom: 1px solid #353567;
}

.sidebar {
	background-color: #1F1F3D;
	display: flex;
	flex-direction: column;
	grid-area: sidebar;
	min-width: 175px;
}

.header-section {
	border-top: 1px solid #353567;
	border-bottom: 1px solid #353567;
	margin-bottom: 5px;
	padding: 0px 13px 0px 13px;
}

.header-form {
	border-bottom: 1px solid #353567;
}

.new-quality-label {
	color: #BFBFDD;
	font-weight: 700;
	font-size: 12px;
}

.header-button {
	background-color: #5356A4;
	border-color: #353567;
	color: #E9E9F3;
	font-size: 12px;
	font-weight: 700;
	height: 2.5em;
	margin-bottom: 15px;
	margin-top: 10px;
	width: 100%;
}

.quality-input {
	height: 2.5em;
	margin-bottom: 15px;
	margin-top: 5px;
	width: 100%;
}

.Navbar__Link-toggle {
  display: none;
}

/*MAIN*/

.main-form {
	display: grid;
	grid-template-areas:
	"left center right";
}

.main-fieldset {
	display: flex;
	flex-direction: column;
	grid-area: center;
	margin: 2% 0% 0% 7%;
	width: 95%;
}

.main-label {
	font-weight: bold;
}

.title-input {
	border-radius: 1.5px;
	height: 2.5em;
	margin: 10px 0px 20px 0px;
	width: 90%;
}

.body-input {
	border-radius: 1.5px;
	margin: 10px 0px 20px 0px;
	resize: none;
	width: 90%;
}

.save-button {
	background-color: #332d72;
	border: 0;
	color: #FFFFFF;
	height: 2.5em;
	margin: 10px 0px 15px 0px;
	width: 90%;
}

.ten-ideas-button{
	background-color: #332d72;
	border: 0;
	color: #FFFFFF;
	height: 2.5em;
	margin: 10px 0px 15px 0px;
	width: 90%;
}

.search-items {
	display: flex;
	flex-direction: row;
}

.search-icon {
	background-color: #332d72;
	border-radius: 1.5px;
	height: 2.5em;
	margin: 10px 0px 5px 0px;
	padding: 6px;
	width: 10%;
}

.search-ideas-input {
	border-radius: 1.5px;
	height: 2.5em;
	margin: 10px 0px 5px 0px;
	padding-left: 7px;
	width: 80%;
}

/*CARD*/

.idea-box {
	border: 1px solid #6E646B;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-self: center;
	width: 95%;
}

.idea-header {
	background-color: #1F1F3D;
	display: flex;
	height: 30px;
	justify-content: space-between;
}

.star-button, 
.delete-button {
	height: 30px;
	width: 30px;
}

.idea-article {
	background-color: #FFFFFF;
	height: 300px;
	max-width: inherit;
	padding: 10px;
	width: 100%;
}

.idea-article-title {
	color: #1F1F3D;
	font-size: 18px;
	font-weight: 600;
	word-break: break-word;
} 	 

.idea-article-body {
	word-break: break-word;
  color: #1F1F3D;
  font-size: 16px;
	font-weight: 500;
}	

.idea-footer {
	align-items: center;
	background-color: #5356A4;
	display: flex;
	height: 30px;
	justify-content: space-between;
}

.quality-text {
	color: #FFFFFF;
	font-weight: 700;
	font-size: 12px;
}

.upvote-button, .downvote-button {
	height: 30px;
	width: 30px;
}

.no-idea-yet-text {
	display: none;
	font-family: 'Indie Flower', cursive;
	font-size: 72px;
	position: absolute;
	text-align: center;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 740px) {

	output {
	  display: flex;
	  flex-direction: column;
	}

	.idea-box {
		flex-direction: column;
		height: 200px;
		justify-self: center;
		margin-bottom: 10px;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
  
  body {
    display: block;
  }

  h1 {
    display: flex;
    justify-content: center;
    padding: 3px;
  }

  .Navbar {
	  display: flex;
	  flex-direction: column;
  }

  .fa-bars {
  	color: white;
  }

  .Navbar__Link-toggle {
    display: flex;
    font-size: 30px;
    margin-left: 10px;
    padding: 10px;
    position: absolute;
  }

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

/*  .Navbar__Items--right {
    margin-left: 0;
  }*/

  .Navbar__ToggleShow {
    display: flex;
  }

/*  .header-form, .header-section, legend {
    border-top: none;
  }*/

  ul {
    margin-left: 8px;
    padding-bottom: 10px;
  }

  .header-button {
	  display: flex;
	  width: 100%;
    font-size: 14px;
    justify-content: center;
  }

  .quality-input {
	  height: 37px;
	  width: 100%;
  }

/*  .main-form {
    display: flex;
  }	  */

  main.change {
   	opacity: 0.2;
  }

  output.change {
    opacity: 0.2;
  }